 @model Dictionary<string,string>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top"><img src="assets/img/navbar-logo.svg" alt="..." /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                @if(User.Identity.IsAuthenticated)
                {
                    <li class="nav-item"><a class="nav-link" href="#team">@User.Identity.Name</a></li>
                    <a class="nav-link" asp-area="Manage" asp-controller="Dashboard" asp-action="Index">Admin Panel</a>
                   <a class="btn btn-dark" asp-controller="Account" asp-action="Logout">Logout</a>
                }
                else
                {
                <a class="btn btn-dark" asp-controller="Account" asp-action="Login">Login</a>
                    
                }
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To Our Studio!</div>
        <div class="masthead-heading text-uppercase">@Model["HeaderDescription"]</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="@Model["ButtonUrl"]">Tell Me More</a>
    </div>
</header>