
@{
    ViewData["Title"] = "Create";
}

@model CreateEmployeeVM
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Employee</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Username">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Salary"></label>
                    <input asp-for="Salary" class="form-control" placeholder="Username">
                    <span asp-validation-for="Salary"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Twitter"></label>
                    <input asp-for="Twitter" class="form-control" placeholder="Username">
                    <span asp-validation-for="Twitter"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Facebook"></label>
                    <input asp-for="Facebook" class="form-control" placeholder="Username">
                    <span asp-validation-for="Facebook"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Linkedn"></label>
                    <input asp-for="Linkedn" class="form-control" placeholder="Username">
                    <span asp-validation-for="Linkedn"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PositionId"></label>
                    <select asp-for="PositionId" asp-items="@ViewBag.Positions"></select>
                    <span asp-validation-for="PositionId"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="Image"></label>
                    <input asp-for="Image" class="form-control" placeholder="Username">
                    <span asp-validation-for="Image"></span>
                </div>

                <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
        <div asp-validation-summary="ModelOnly"></div>
    </div>
</div>

